<section class="components">
  <h2 class="components__title">
    it all adds up to one exceptional
    <span class="components__title--orange">taste</span> sensation
  </h2>
  <p class="components__description">
    At Simply Chocolate, we believe that the secret to exceptional chocolate is
    in the details. From the sourcing of the finest ingredients to the careful
    crafting of each individual piece, every step of our process adds up to one
    exceptional taste sensation.
  </p>

  <ul class="components-list">
    <li class="components-list__item">
      <div class="front-components">
        <picture>
          <source
            media="(min-width:1200px)"
            srcset="
              ./images/components/milkchocod.png 1x,
              ./images/components/milkchocod.png 2x
            "
          />
          <source
            media="(max-width:1199px)"
            srcset="
              ./images/components/milkchocotm.png   1x,
              ./images/components/milkchocotm@2x.png 2x
            "
          />
          <img
            src="./images/components/milkchocotm.png"
            alt="milk chocolate"
            class="components-list__img"
          />
        </picture>
        <h3 class="components-list__title">milk chocolate</h3>
      </div>
      <div class="back-components">
        <h3 class="back-components__title">milk chocolate</h3>
        <div class="back-components-info">
          <button type="button" class="back-info__type">chocolate</button>
          <button type="button" class="back-components__benefits">the benefits</button>
        </div>
        <p class="back-components__paragraph">
          Milk chocolate is a solid chocolate confectionery containing cocoa,
          sugar and milk. It is the most consumed type of chocolate. Chocolate
          was originally sold and consumed as a beverage in pre-Columbian times.
          Although four-fifths of all milk chocolate is sold in the United
          States and Europe, increasingly large amounts are consumed in China
          and Latin America.
        </p>
      </div>
    </li>
    <li class="components-list__item">
      <div class="front-components">
        <picture>
          <source
            media="(min-width:1200px)"
            srcset="
              ./images/components/milkd.png    1x,
              ./images/components/milkd@2x.png 2x
            "
          />
          <source
            media="(max-width:1199px)"
            srcset="
              ./images/components/milktm.png    1x,
              ./images/components/milktm@2x.png 2x
            "
          />
          <img
            src="./images/components/milktm.png"
            alt="milk"
            class="components-list__img"
          />
        </picture>
        <h3 class="components-list__title">Milk</h3>
      </div>

      <div class="back-components">
        <h3 class="back-components__title">milk</h3>
        <div class="back-components-info">
          <button type="button" class="back-info__type">milk</button>
          <button type="button" class="back-components__benefits">the benefits</button>
        </div>
        <p class="back-components__paragraph">
          Milk is a white liquid food produced by the mammary glands of mammals.
          It is the primary source of nutrition for young mammals (including
          breastfed human infants) before they are able to digest solid
          food.Early-lactation milk, which is called colostrum, contains
          antibodies that strengthen the immune system, and thus reduces the
          risk of many diseases. Milk contains many nutrients, including protein
          and lactose.
        </p>
      </div>
    </li>
    <li class="components-list__item">
      <div class="front-components">
        <picture>
          <source
            media="(min-width:1200px)"
            srcset="
              ./images/components/nutsd.png    1x,
              ./images/components/nutsd@2x.png 2x
            "
          />
          <source
            media="(max-width:1199px)"
            srcset="
              ./images/components/nutstm.png    1x,
              ./images/components/nutstm@2x.png 2x
            "
          />

          <img
            src="./images/components/nutstm.png"
            alt="nuts"
            class="components-list__img"
          />
        </picture>
        <h3 class="components-list__title">nuts</h3>
      </div>

      <div class="back-components">
        <h3 class="back-components__title">nuts</h3>
        <div class="back-components-info">
          <button type="button" class="back-info__type">nuts</button>
          <button type="button" class="back-components__benefits">the benefits</button>
        </div>
        <p class="back-components__paragraph">
          Almonds, pistachios, and walnuts are some types of nuts that contain
          healthy nutrients. When eaten as part of a nutrient-dense diet, these
          9 nuts may offer benefits such as reducing your risk of heart disease.
          They’re a good source of fiber, healthy fats, and plant protein. Plus,
          they’re great on their own, paired with fruit, or added to dishes like
          salads, desserts, and grains.
        </p>
      </div>
    </li>
    <li class="components-list__item">
      <div class="front-components">
        <picture>
          <source
            media="(min-width:1200px)"
            srcset="
              ./images/components/sweetchocod.png    1x,
              ./images/components/sweetchocod@2x.png 2x
            "
          />
          <source
            media="(max-width:1199px)"
            srcset="
              ./images/components/sweetchocotm.png    1x,
              ./images/components/sweetchocotm@2x.png 2x
            "
          />
          <img
            src="./images/components/sweetchocotm.png"
            alt="semi sweet chocolate"
            class="components-list__img"
          />
        </picture>
        <h3 class="components-list__title">semi - sweet chocolate</h3>
      </div>

      <div class="back-components">
        <h3 class="back-components__title">semi - sweet chocolate</h3>
        <div class="back-back-components-info">
          <button type="button" class="back-info__type">
            semi - sweet chocolate
          </button>
          <button type="button" class="back-components__benefits">the benefits</button>
        </div>
        <p class="back-components__paragraph">
          Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of
          the best ways to gain an understanding of this type of chocolate is to
          compare it to a different type of chocolate. Semisweet is darker than
          milk chocolate. In a taste comparison, it has a slightly bitter taste
          whereas milk chocolate is sweeter and more mellow. This delectable
          flavor of chocolate is very versatile.
        </p>
      </div>
    </li>
  </ul>
</section>
