<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="footer">
        <h2 class="footer-title">
          <span class="footer__span">Chocolate</span> a delicious cure for a bad day
        </h2>
        <section class="footer-section-contact">
          <h5 class="contact-title__h5">Contact us</p>
          <p>
            <a class="footer-a-tel" href="tel:+380961111111">+38 096 111 11 11</a>
          </p>
          <p>
            <a class="footer-a-email" href="mailto:simplychoc@gmail.com"
              >simplychoc@gmail.com</a
            >
          </p>
        </section>
        <ul class="footer-ul">
          <li class="footer-ul-li">Home</li>
          <li class="footer-ul-li">How it’s made?</li>
          <li class="footer-ul-li">Our products</li>
          <li class="footer-ul-li">Top sellers</li>
          <li class="footer-ul-li">Chocolate is loved</li>
        </ul>
      </footer>
</body>
</html>