<footer class="footer">
    <div class="footer-left">
  <h2 class="footer-title">
    <span class="footer__span">Chocolate</span> a delicious cure for a bad day
  </h2>
    <h5 class="contact-subtitle">Contact us</h5>
    <ul class="footer-contact-list">
      <li class="contact-list__item">
        <p>
          <a class="footer-email__link" href="tel:+380961111111"
            >+38 096 111 11 11</a
          >
        </p>
      </li>
      <li class="contact-list__item">
        <p>
          <a class="footer-email__link" href="mailto:simplychoc@gmail.com"
            >simplychoc@gmail.com</a
          >
        </p>
      </li>
    </ul>
</div>

  <ul class="footer-list">
    <li class="footer-list__item"><a href="1" >Home</a></li>
    <li class="footer-list__item"><a href="" >How it’s made?</a></li>
    <li class="footer-list__item"><a href="" >Our products</a></li>
    <li class="footer-list__item"><a href="" >Top sellers</a></li>
    <li class="footer-list__item"><a href="" >Chocolate is loved</a></li>
  </ul>
</footer>
