<header class="header" id="1">
  <div class="inner-container">
    <nav class="navigation">
        <a class="logo" href="#">
            <span class="logo__simply">Simply </span>Chocolate
            <svg class="logo__svg">
                <use href="./images/symbol-defs.svg#icon-logo"></use>
            </svg>
        </a>
        <button class="burgermenu">
          <svg class="burgermenu__svg">
            <use href="./images/symbol-defs.svg#icon-menu-burger"></use>
          </svg>
        </button>
      <ul class="header-list">
        <li class="header-list__item">
          <a class="header-list__link" href="#1">Home</a>
        </li>
        <li class="header-list__item">
          <a class="header-list__link" href="#5">How it's made?</a>
        </li>
        <li class="header-list__item">
          <a class="header-list__link" href="#6">Our products</a>
        </li>
        <li class="header-list__item">
          <a class="header-list__link" href="#7">Top sellers</a>
        </li>
        <li class="header-list__item">
          <a class="header-list__link" href="#8">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <div class="menu-right">
      <svg class="menu-right_svg">
        <use href="./images/symbol-defs.svg#instagram"></use>
      </svg>
      <svg class="menu-right_svg">
        <use href="./images/symbol-defs.svg#icon-twitter"></use>
      </svg>
    </div>
  </div>
</header>
