<section class="hero">
  <p class="hero_parag">
    Treat yourself or a loved one to our finest ingredients for a moment of pure
    delight!
  </p>
  <ul class="hero-list">
    <li class="hero-list_item">
      <button class="hero-list_buy">Buy now</button>
    </li>
    <li class="hero-list_item">
      <button class="hero-list_how">How it's made</button>
    </li>
  </ul>
  <button class="hero_scroll">
    scroll down
    <svg class="hero_scroll-svg">
        <use href="./images/symbol-defs.svg#icon-arrow-mini"></use>
    </svg>
  </button>
</section>