<section class="hero">
  <div class="inner-container">
    <div class="hero-background">
      <h1 class="hero__title">
        Treat yourself or a loved one to our finest ingredients for a moment of pure
        delight!
      </h1>
      <div class="hero-button-container">
        <ul class="hero-list">
        <li class="hero-list__item">
          <button class="hero-list__buy">Buy now</button>
        </li>
        <li class="hero-list__item">
          <a class="hero-list__how" href="#5">How it's made</a>
        </li>
      </ul>
      <a class="hero-list__scroll" href="#9"
        >scroll down
        <div class="hero-list__circle">
          <svg class="hero-list__svg">
          <use href="./images/symbol-defs.svg#icon-arrow"></use>
        </svg>
        </div>
      </a>
      </div>
      
    </div>
  </div>
</section>
