<section class="made" id="5">
  <div class="inner-container">
    <picture>
      <source
        srcset="
          ./images/made/madebackd.jpg    1x,
          ./images/made/madebackd@2x.jpg 2x
        "
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/made/madebackt.jpg    1x,
          ./images/made/madebackt@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/made/madebackm.jpg    1x,
          ./images/made/madebackm@2x.jpg 2x
        "
        media="(max-width:767px)"
      />
      <img src="./images/made/madebackm.jpg" alt="chocolate-made" /> </picture
    ><svg>
      <use href="./images/symbol-defs.svg#icon-play"></use>
    </svg>
    <div class="made-right">
      <h2 class="made__title">how it's <span class="made__title--orange">made?</span></h2>
      <h4 class="made__subtitle">
        Try our chocolates today and discover the perfect balance of flavor
      </h4>
      <ul class="made-list">
        <li class="made-list__item">
          <p class="made-list__text">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </p>
        </li>
        <li class="made-list__item">
          <p class="made-list__text">
            At the same time, prepare a water bath. Melt the butter on it.
          </p>
        </li>
        <li class="made-list__item">
          <p class="made-list__text">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </p>
        </li>
        <li class="made-list__item">
          <p class="made-list__text">
            Heat the mixture over low heat, letting it barely boil.
          </p>
        </li>
        <li class="made-list__item">
          <p class="made-list__text">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
