<section class="made">
  <img class="made-foto"
    src="src/images/image (1) (1).jpg"
    srcset="src/images/image (1) (1).jpg 1x, src/images/image@2x (1).jpg 2x"
  />
  <div class="made-right">
    <h2 class="made__title">how it's <span class="made-span">made?</span></h2>
    <h4 class="made-subtitle">
      Try our chocolates today and discover the perfect balance of flavor
    </h4>
    <ul class="made-list">
      <li class="made-list__item">
        Heat the milk in a saucepan without bringing it to a boil. Add sugar and
        cocoa powder.
      </li>
      <li class="made-list__item">
        At the same time, prepare a water bath. Melt the butter on it.
      </li>
      <li class="made-list__item">
        "Mix" the milk mixture and already liquid butter. Mix thoroughly with a
        silicone spatula so that the mass becomes uniform and silky.
      </li>
      <li class="made-list__item">
        Heat the mixture over low heat, letting it barely boil.
      </li>
      <li class="made-list__item">
        Pour the chocolate into special containers (can be replaced with ice
        molds). Allow to cool and harden.
      </li>
    </ul>
  </div>
</section>
