<section class="made" id="5">
  <div class="inner-container">
    <h2 class="made__title">
      how it's <span class="made__title--orange">made?</span>
    </h2>
    <div class="video-box">
    <picture>
      <source
        srcset="
          ./images/made/madebackd.jpg    1x,
          ./images/made/madebackd@2x.jpg 2x
        "
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/made/madebackt.jpg    1x,
          ./images/made/madebackt@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/made/madebackm.jpg    1x,
          ./images/made/madebackm@2x.jpg 2x
        "
        media="(max-width:767px)"
      />
      <img
        src="./images/made/madebackm.jpg"
        alt="chocolate-made"
        class="made-video"
      /> </picture
    ><svg class="made-video__svg">
      <use href="./images/symbol-defs.svg#icon-play"></use>
    </svg>
  </div>
    <div class="made-right">
      <h4 class="made__subtitle">
        Try our chocolates today and discover the perfect balance of flavor
      </h4>
      <ul class="made-list">
        <li class="made-list__item">
          Heat the milk in a saucepan without bringing it to a boil. Add sugar
          and cocoa powder.
        </li>
        <li class="made-list__item">
          At the same time, prepare a water bath. Melt the butter on it.
        </li>
        <li class="made-list__item">
          "Mix" the milk mixture and already liquid butter. Mix thoroughly with
          a silicone spatula so that the mass becomes uniform and silky.
        </li>
        <li class="made-list__item">
          Heat the mixture over low heat, letting it barely boil.
        </li>
        <li class="made-list__item">
          Pour the chocolate into special containers (can be replaced with ice
          molds). Allow to cool and harden.
        </li>
      </ul>
    </div>
  </div>
</section>
