<div class="backdrop-feedback is-hidden">
  <section class="reviews-thanks">
    <button class="reviews-thanks__btn" type="button" data-close-feedback>
      <svg class="reviews-thanks__svg">
        <use href="./images/symbol-defs.svg#icon-cross"></use>
      </svg>
    </button>
    <h2 class="reviews-thanks__title">thank you<br> for your feedback!</h2>
    <p class="reviews-thanks__text">
      We are so happy to hear from you!
    </p>
    <picture>
      <source srcset="./images/modal/chocobartd.png 1x, ./images/modal/chocobartd@2x.png 2x" media="(min-width: 768px)">
      <source srcset="./images/modal/chocobarm.png 1x, ./images/modal/chocobarm@2x.png 2x" media="(max-width: 767px)">
      <img src="./images/modal/chocobarm.png" alt="chocobarm" class="reviews-thanks__img">
    </picture>
  </section>
</div>
