<div class="backdrop-review is-hidden">
      <form class="reviews-modal">
        <button class="reviews-close" data-close-review>
          <svg class="reviews-close__svg">
            <use href="./images/symbol-defs.svg#icon-cross"></use>
          </svg>
        </button>
        <h2 class="reviews-modal__title"><span class="reviews-modal__span">Leave a review about</span> our chocolate</h2>
        <ul class="modal-list">
          <li class="modal-list__item">
            <input class="modal-list__input" type="text" required placeholder="Name">
          </li>
          <li class="modal-list__item">
            <input class="modal-list__input" type="email" placeholder="Email">
          </li>
          <li class="modal-list__item">
            <label class="label-list__modal">
              <svg class="label-list__svg">
                <use href="./images/symbol-defs.svg#icon-ukraine"></use>
              </svg>
              <input class="modal-list__input modal-list__input--phone" type="tel" required placeholder="Phone number">
            </label>
          </li>
          <li class="modal-list__item">
            <textarea class="modal-list__input modal-list__input--text" placeholder="Text"></textarea>
          </li>
        </ul>
        <button class="send-btn" type="submit" data-open-feedback>Send</button>
      </form>
    </div>