<div class="backdrop is-hidden" data-form-backdrop>
  <form class="modal-buy">
    <button type="button" class="modal-close" data-modal-close>
      <svg class="modal-close__icon">
        <use href="./images/symbol-defs.svg#icon-cross"></use>
      </svg>
    </button>
    <h2 class="modal__title">
      <span class="modal__title--orange">Buy</span> now
    </h2>
    <ul class="buy-list">
      <li class="buy-list__item">
        <picture>
          <source
            srcset="
              ./images/modal/chocotd.png,
              ./images/modal/chocotd@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/modal/chocom.png    1x,
              ./images/modal/chocom@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/modal/chocom.png" alt="chocolate" />
        </picture>
        <button class="buy-list__gram">100g</button>
      </li>
      <li class="buy-list__item">
        <picture>
          <source
            srcset="
              ./images/modal/chocomixtd.png    1x,
              ./images/modal/chocomixtd@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/modal/chocomixm.png    1x,
              ./images/modal/chocomixm@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/modal/chocomixm.png" alt="chocolate" />
        </picture>
        <button class="buy-list__gram">
          200 g
        </button>
      </li>
      <li class="buy-list__item">
        <picture>
          <source
            srcset="
              ./images/modal/chocobarsd.png    1x,
              ./images/modal/chocobarsd@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/modal/chocobarsm.png    1x,
              ./images/modal/chocobarsm@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/modal/chocobarsm.png" alt="chocolate" />
        </picture>
        <button class="buy-list__gram">
          300 g
        </button>
      </li>
    </ul>
    <ul class="modal-list">
      <li class="modal-list__item">
        <label class="modal-list__label">
          Personal information
          <input
            type="text"
            class="modal-list__input"
            required
            placeholder="Name"
          />
          <input
            type="text"
            class="modal-list__input"
            placeholder="Surname"
          />
        </label>
        <label>
          <input
            type="text"
            class="modal-list__input"
            required
            placeholder="Surname"
          />
        </label>
      </li>
      <li class="modal-list__item">
        <label class="modal-list__label">
          Email
          <input
            type="email"
            class="modal-list__input"
            required
            placeholder="Enter your email"
          />
        </label>
      </li>
      <li class="modal-list__item">
        <label class="modal-list__label">
          Phone Number
          <input
            type="tel"
            class="modal-list__input"
            required
            placeholder="Phone number"
          />
          <svg>
            <use href="./images/symbol-defs.svg#icon-ukraine"></use>
          </svg>
        </label>
      </li>
      <li class="modal-list__item">
        <label class="modal-list__label">
          Card number
          <input
            type="number"
            class="modal-list__input"
            required
            placeholder="Enter card"
          />
          <svg>
            <use href="./images/symbol-defs.svg#icon-mastercard"></use>
          </svg>
        </label>
      </li>
      <li class="modal-list__item">
        <label class="modal-list__label"
          >Comment
          <textarea
            class="modal-list__textarea"
            cols="30"
            rows="10"
            placeholder="Enter text"
          ></textarea>
        </label>
      </li>
    </ul>
    <button type="submit" class="modal__btn-submit" data-open-info-modal>
      Submit
    </button>
  </form>
</div>
