<div class="backdrop">
      <form class="rewievs-modal">
        <button class="rewievs-close">
          <svg class="rewievs-close__svg">
            <use href="./images/symbol-defs.svg#icon-arrow"></use>
          </svg>
        </button>
        <h2 class="rewievs-modal__title"><span class="rewievs-modal__span">leave a review bout</span>our chocolate</h2>
        <ul class="modal-list">
          <li class="modal-list__item">
            <input class="modal-list__input" type="text" required placeholder="Name">
          </li>
          <li class="modal-list__item">
            <input class="modal-list__input" type="email" placeholder="Enter your email">
          </li>
          <li class="modal-list__item">
            <label class="label-list__modal">
              <svg>
                <use href="./images/symbol-defs.svg#icon-ukraine"></use>
              </svg>
              <p class="modal-list__tel">+380</p>
              <input class="modal-list__input modal-list__input--phone" type="tel" required placeholder="Phone number">
            </label>
          </li>
          <li class="modal-list__item">
            <input class="modal-list__input modal-list__input--text" type="email" placeholder="Enter text">
          </li>
        </ul>
        <button class="send-btn" type="submit">Send</button>
      </form>
    </div>