<div class="backdrop-subscribe is-hidden">
  <form class="modal-subscribe-buy" data-open-subscribe>
    <div class="modal-subscribe-background"></div>
    <button type="button" class="modal-subscribe-close__btn" data-close-subscribe>
      <svg class="modal-subscribe-close__icon">
        <use href="./images/symbol-defs.svg#icon-cross"></use>
      </svg>
    </button>
    <h2 class="modal-subscribe__title">
      <span class="modal-subscribe__title--orange">Explore</span> our new chocolate first!
    </h2>
    <input type="email" class="modal-subscribe__input" placeholder="Enter your email" required />
    <button type="submit" class="modal-subscribe__btn-submit">Submit</button>
  </form>
</div>
