<div class="backdrop is-hidden" data-info-backdrop>
  <section class="modal-thanks">
    <button class="modal-thanks-close" type="button" data-close-info-modal>
      <svg class="close-svg-thanks">
        <use href="./images/symbol-defs.svg#icon-cross"></use>
      </svg>
    </button>
    <h2 class="modal-thanks__title">Thank you!</h2>
    <p class="modal-thanks__text">
      We are glad that you ordered our chocolate and we are giving you a 20%
      discount on all our products.
    </p>
  </section>
</div>