<div class="backdrop-subscribe is-hidden">
  <form class="modal-subscribe">
    <div class="modal-subscribe-background"></div>
    <button
      type="button"
      class="modal-subscribe__btn-close"
      data-close-subscribe
    >
      <svg class="modal-subscribe__icon-close">
        <use href="./images/symbol-defs.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="subscribe-container">
      <h2 class="modal-subscribe__title">
        <span class="modal-subscribe__title--orange">Explore</span> our new
        chocolate first!
      </h2>
      <input
        type="email"
        class="modal-subscribe__input"
        placeholder="Enter your email"
        required
      />
      <button type="submit" class="modal-subscribe__btn-submit">Submit</button>
    </div>
  </form>
</div>
