<div class="backdrop is-hidden">
  <form class="modal-buy">
    <button type="button" class="modal-close">
      <svg class="modal-close__icon">
        <use href="./images/symbol-defs.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="subscribe-background"></div>
    <h2 class="modal__title">
      <span class="modal__title--orange">Explore</span> our new chocolate first!
    </h2>
    <input type="email" placeholder="Enter your email" required>
    <button type="submit" class="modal__btn-submit">
      Submit
    </button>
  </form>
</div>
