<section class="products" id="6">
    <h2 class="products__title">
        Our <span class="products__title--orange">products</span>
    </h2>

    <ul class="products-list">
        <li class="products-list__item">
            <img src="./images/products/orange.png" srcset="./images/products/orange.png 1x, ./images/products/orange@2x.png 2x" alt="chocolate">
            <h3 class="product-list__name">orange</h3>
            <p class="product-list__type">Dark chocolate</p>
            <button class="products-list-btn">45 uah</button>
        </li>

        <li class="products-list__item">
            <img src="./images/products/apple.png" srcset="./images/products/apple.png 1x, ./images/products/apple@2x.png 2x" alt="chocolate">
            <h3 class="product-list__name">apple&cranberry</h3>
            <p class="product-list__type">Milk chocolate</p>
            <button class="products-list-btn">50 uah</button>
        </li>

        <li class="products-list__item">
            <img src="./images/products/lime.png" srcset="./images/products/lime.png 1x, ./images/products/lime@2x.png 2x" alt="chocolate">
            <h3 class="product-list__name">lime&sea salt</h3>
            <p class="product-list__type">Dark chocolate</p>
            <button class="products-list-btn">66 uah</button>
        </li>

        <li class="products-list__item">
            <img src="./images/products/pineapple.png" srcset="./images/products/pineapple.png 1x, ./images/products/pineapple@2x.png 2x" alt="chocolate">
            <h3 class="product-list__name">pineapple</h3>
            <p class="product-list__type">Dark chocolate</p>
            <button class="products-list-btn">54 uah</button>
        </li>

        <li class="products-list__item">
            <img src="./images/products/milk.png" srcset="./images/products/milk.png 1x, ./images/products/milk@2x.png 2x" alt="chocolate">
            <h3 class="product-list__name">Classic</h3>
            <p class="product-list__type">Milk chocolate</p>
            <button class="products-list-btn">45 uah</button>
        </li>

        <li class="products-list__item">
            <img src="./images/products/honey.png" srcset="./images/products/honey.png 1x, ./images/products/honey@2x.png 2x" alt="chocolate">
            <h3 class="product-list__name">honey</h3>
            <p class="product-list__type">Milk chocolate</p>
            <button class="products-list-btn">50 uah</button>
        </li>

        <li class="products-list__item">
            <img src="./images/products/fruits.png" srcset="./images/products/fruits.png 1x, ./images/products/fruits@2x.png 2x" alt="chocolate">
            <h3 class="product-list__name">Roasted fruits</h3>
            <p class="product-list__type">Dark chocolate</p>
            <button class="products-list-btn">66 uah</button>
        </li>

        <li class="products-list__item">
            <img src="./images/products/white.png" srcset="./images/products/white.png 1x, ./images/products/white@2x.png 2x" alt="chocolate">
            <h3 class="product-list__name">Classic</h3>
            <p class="product-list__type">White chocolate</p>
            <button class="products-list-btn">54 uah</button>
        </li>
    </ul>
</section>