<section class="reviews" id="8">
  <div class="inner-container">
    <h2 class="reviews__title"><span class="reviews__span">chocolate</span> is loved</h2>
      <ul class="reviews-list">
        <li class="reviews-list__item">
          <div class="reviews-card">
          <img class="reviews-card__img reviews-card--victoria" src="./images/reviews/victoria.png" srcset="./images/reviews/victoria.png 1x, ./images/reviews/victoria@2x.png 2x" alt="Victoria Dobrzhanska">
          <h2 class="reviews-card__title">Victoria Dobrzhanska</h2>
          <p class="reviews-card__info">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
        </div>
        </li>
        <li class="reviews-list__item">
          <div class="reviews-card reviews-card--nazar">
          <img class="reviews-card__img" src="./images/reviews/nazar.png" srcset="./images/reviews/nazar.png 1x, ./images/reviews/nazar@2x.png 2x" alt="Nazar Babenko">
          <h2 class="reviews-card__title">Nazar Babenko</h2>
          <p class="reviews-card__info">This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.</p>
        </div>
        </li>
        <li class="reviews-list__item">
          <div class="reviews-card reviews-card--olena">
          <img class="reviews-card__img" src="./images/reviews/olena.png" srcset="./images/reviews/olena.png 1x, ./images/reviews/olena@2x.png 2x" alt="Olena Kampusch">
          <h2 class="reviews-card__title">Olena Kampusch</h2>
          <p class="reviews-card__info"> Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft but crunchy.</p>
        </div>
        </li>
      </ul>
        <div class="reviews-slider">
          <svg class="reviews-slider__rectangle">
            <use href="./images/symbol-defs.svg#icon-rectangle"></use>
          </svg>
          <svg class="reviews-slider__ellipse">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
          <svg class="reviews-slider__ellipse">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
          <svg class="reviews-slider__ellipse">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
        </div>
        <button class="reviews__btn" type="button">Leave a review</button>
    </div>
  </section>
