<section class="reviews">
    <h2 class="reviews__title"><span class="reviews__span">chocolate</span> is loved</h2>
      <swiper-container class="swiper-container" slides-per-view="3" speed="500" loop="true" css-mode="true">
      <swiper-slide class="swiper-container__slide">
        <div class="reviews-card">
          <img class="reviews-card__img" src="./images/Ellipse1.png" alt="Victoria Dobrzhanska">
          <h2 class="reviews-card__title">Victoria Dobrzhanska</h2>
          <p class="reviews-card__info">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
        </div>
      </swiper-slide>
      <swiper-slide class="swiper-container__slide">
        <div class="reviews-card">
          <img class="reviews-card__img" src="./images/Ellipse3.png" alt="Nazar Babenko">
          <h2 class="reviews-card__title">Nazar Babenko</h2>
          <p class="reviews-card__info">This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.</p>
        </div>
      </swiper-slide>
      <swiper-slide class="swiper-container__slide">
        <div class="reviews-card">
          <img class="reviews-card__img" src="./images/Ellipse.png" alt="Olena Kampusch">
          <h2 class="reviews-card__title">Olena Kampusch</h2>
          <p class="reviews-card__info"> Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft but crunchy.</p>
        </div>
      </swiper-slide>
    </swiper-container>
    <button class="reviews__btn" type="button">Leave a review</button>
  </section>
