<section class="reviews">
    <h2 class="reviews__title"><span class="reviews__span">chocolate</span> is loved</h2>
    <div class="reviews-card">
      <img class="reviews-card__img" src="./images/Ellipse1.png" alt="Victoria Dobrzhanska">
      <h2 class="reviews-card__title">Victoria Dobrzhanska</h2>
      <p class="reviews-card__info">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
    </div>

    <button class="reviews__btn" type="button">Leave a review</button>
  </section>