<section class="sellers" id="7">
  <div class="inner-container">
  <h2 class="sellers__title">
    <span class="sellers__title--orange">Top</span> sellers
  </h2>
  <ul class="sellers-list">
    <li class="sellers-list__item">
      <picture>
        <source
          srcset="
            ./images/sellers/coffeed.jpg    1x,
            ./images/sellers/coffeed@2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/sellers/coffeet.jpg    1x,
            ./images/sellers/coffeet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/sellers/coffeem.jpg    1x,
            ./images/sellers/coffeem@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/sellers/coffeem.jpg"
          alt="chocolate with coffee"
          class="sellers-list__img"
        />
      </picture>
      <p class="sellers-list__text">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
    </li>
    <li class="sellers-list__item">
      <picture>
        <source
          srcset="
            ./images/sellers/choconutsd.jpg    1x,
            ./images/sellers/choconutsd@2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/sellers/choconutst.jpg    1x,
            ./images/sellers/choconutst@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/sellers/choconutsm.jpg    1x,
            ./images/sellers/choconutsm@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/sellers/choconutsm.jpg"
          alt="chocolate with nuts"
          class="sellers-list__img"
        />
      </picture>
    </li>
    <li class="sellers-list__item">
      <img
        srcset="
          ./images/sellers/darkchocod.jpg    1x,
          ./images/sellers/darkchocod@2x.jpg 2x
        "
        src="./images/sellers/darkchocod.jpg"
        alt="dark chocolate"
        class="sellers-list__img"
      />
    </li>
  </ul>
  <button type="button" class="sellers__button" data-modal-open>Buy now</button>
  </div>
</section>
