.advantages {
  padding: 20px 0;
  background-color: #1e1823;
}
.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .advantages-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 365px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    &__svg {
      width: 32px;
      height: 32px;
      fill: #fd9222;
    }
  }
  &__title {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 18px;
  }
  &__paragraph {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
  }
}
