.components {
  padding: 72px 0;

  &__title {
    color: getColor('text-primary');
    @extend %title;
    margin: 0 auto;
    max-width: 247px;
    text-align: center;
    margin-bottom: 24px;

    &--orange {
      color: getColor('text-third');
    }
  }
  &__description {
    @include text($lheight: 18px);
    max-width: 335px;
    text-align: center;
    margin: 0 auto;
  }
}

.components-list {
  margin-top: 50px;
  @include flex($direction: column);
  gap: 20px;

  &__item {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    width: 335px;
    padding: 28px 0;
    border-radius: 15px;


    &:hover .back-components {
      transform: translateX(0%);
    }

    &:hover:nth-child(1) {
      border: 1px solid getColor('text-third');
    }

    
    &:hover:nth-child(3) {
      border: 1px solid getColor('text-third');
    }


    &:hover:nth-child(3) {
      background-color: inherit;
    }
    &:hover:nth-child(1) {
      background-color: inherit;
    }
    &:nth-child(1) {
      background-color: getColor('text-third');
    }
    &:nth-child(2) {
      background-color: getColor('background-secondary');
      border: 1px solid getColor('text-third');
    }
    &:nth-child(3) {
      background-color: getColor('background-third');
    }
    &:nth-child(4) {
      background-color: getColor('background-secondary');
      border: 1px solid getColor('text-third');
    }

    .front-components {
      &__img {
        width: 335px;
        height: 171px;
      }

      &__title {
        margin-top: 25px;
        margin-left: 28px;
        @include text($lheight: 18px, $fweight: 600);
        color: getColor('text-secondary');
        text-transform: uppercase;

        &--black {
          color: getColor('text-primary');
        }
      }
    }

    .back-components {
      position: absolute;
      top: 0;
      left: 0;
      width: 335px;
      border-radius: 15px;
      background-color: getColor('background-secondary');
      padding: 28px;
      transform: translateX(-100%);
      transition: transform 200ms ease-in;

      &__title {
        @include text(18px, $lspacing: -0.54px, $fweight: 600);
        text-transform: uppercase;
        margin-bottom: 8px;
      }

      .back-components-info {
        display: flex;
        gap: 6px;
        margin-bottom: 14px;

        &__type {
          @include text(10px, 12px, 0);
          color: getColor('text-secondary');
          text-align: center;
          border-radius: 35px;
          padding: 6px 16px;
        }

        &__benefits {
          @include text(10px, 12px, 0);
          color: getColor('text-primary');
          border-radius: 35px;
          padding: 6px 16px;
          background-color: getColor('background-secondary');
          border: 1px solid getColor('text-third');
        }
      }

      &__paragraph {
        @include text($lheight: 18px);
        max-width: 279px;
        overflow: hidden;
        color: getColor('text-primary');
      }
    }
  }
}
