.explore {
  background-color: getColor('text-primary');
  background-image: url('../images/explore/explorebackm@2x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/explore/explorebackm@2x.jpg');
  }
  &__title {
    @extend %title;
    max-width: 291px;
    width: 100%;
    color: getColor('text-secondary');
    text-align: center;
    margin: 0 auto;
  }
  &__text {
    @include text($lheight: 1.28);
    text-align: center;
    max-width: 326px;
    width: 100%;
    color: getColor('text-secondary');
    margin: 24px auto;
  }
  &__button {
    @include flex;
    margin: 0 auto;
    width: 128px;
    height: 41px;
    color: getColor('text-secondary');
    border-radius: 100px;
  }
}
.explore .inner-container {
  padding: 62px 20px;
}
