.explore {
  background-color: getColor('text-primary');
  background-image: url('../images/explore/explorebackm@2x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/explore/explorebackm@2x.jpg');
  }
  @media screen and (min-width: 768px) {
    background-image: url('../images/explore/explorebackt.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/explore/explorebackt@2x.jpg');
    }
  }
    @media screen and (min-width: 1200px) {
      background-image: url('../images/explore/explorebackd.jpg');
      @media screen and (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (-o-min-device-pixel-ratio: 2/1),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/explore/explorebackd@2x.jpg');
      }
    }
  &__title {
    @extend %title;
    max-width: 291px;
    width: 100%;
    color: getColor('text-secondary');
    text-align: center;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      @include text(24px, 1.16, -0.72px, 600);
      max-width: 378px;
    }
  }
  &__text {
    @include text($lheight: 1.28);
    text-align: center;
    max-width: 326px;
    width: 100%;
    color: getColor('text-secondary');
    margin: 24px auto;
    @media screen and (min-width: 768px) {
      max-width: 467px;
    }
  }
  &__button {
    @include text($fweight: 600);
    @include flex;
    margin: 0 auto;
    width: 128px;
    height: 41px;
    color: getColor('text-secondary');
    border-radius: 100px;
    @media screen and (min-width: 768px) {
      @include text(18px, $fweight: 600);
      width: 172px;
      height: 50px;
    }
  }
}
.explore .inner-container {
  padding: 62px 20px;
  @media screen and (min-width: 768px) {
    padding: 72px 20px;
  }
}
