.footer {
  padding: 32px 20px;
  background-color: getColor('background-third');
}
.footer-left {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  @include flex(space-between, $align: flex-start);
  padding-bottom: 32px;
}
.footer-contact-div {
  @include flex(space-between, column, flex-start);
}
.footer__title {
  @include text(24px, 28px, -0.48px, 500);
  color: getColor('text-secondary');
  margin-bottom:32px;
}
.footer__title__span {
  @include text(24px, 28px, -0.48px, 500);
  color: getColor('text-third');
}
.contact__subtitle {
  @include text($lheight: 18px, $fweight: 500);
  color: getColor('text-secondary');
}
.footer-contact-list {
  @include flex($align: flex-start, $direction: column);
  gap: 4px;
}
.footer-email__link {
  @include text($lheight: 18px);
  color: getColor('text-secondary');
  text-align: center;
}
.footer-social-list {
  @include flex($align: flex-start);
  gap: 14px;
}
.footer-social-svg {
  fill: getColor('text-secondary');
  width: 22px;
  height: 22px;
}
.footer-list {
  @include flex($align: flex-start, $direction: column);
  padding-top:32px;
  gap: 18px;
}
.footer-list-item__link {
  @include text($lheight: 16px, $fweight: 500);
  color: getColor('text-secondary');
}
