.footer {
  padding: 32px 0;
  background-color: getColor('background-third');
}
.footer-left {
  @include flex(space-between, $align: flex-start);
  padding-bottom: 32px;
}
.footer-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-contact-div {
  @include flex(space-between, column, flex-start);
}
.footer__title {
  @include text(24px, 28px, -0.48px, 500);
  color: getColor('text-secondary');
  margin-bottom: 32px;
  max-width: 300px;
  &__span {
    color: getColor('text-third');
  }
}
.contact__subtitle {
  @include text($lheight: 1.28, $fweight: 500);
  color: getColor('text-secondary');
  margin-bottom: 14px;
}
.footer-contact-list {
  @include flex($align: flex-start, $direction: column);
  gap: 4px;
}
.footer-email__link {
  @include text($lheight: 1.28);
  color: getColor('text-secondary');
  text-align: center;
}
.footer-social-list {
  @include flex($align: flex-start);
  gap: 14px;
}
.footer-social-svg {
  fill: getColor('text-secondary');
  width: 22px;
  height: 22px;
}
.footer-list {
  @include flex($justify: flex-start, $direction: column);
  padding-top: 32px;
  gap: 18px;
}
.footer-list-item__link {
  @include text($lheight: 16px, $fweight: 500);
  color: getColor('text-secondary');
}
@media (min-width: 768px) {
  footer {
    padding: 50px 32px;
  }
  .footer-top {
    @include flex($justify: space-between, $align: flex-start);
    gap: 50px;
  }
  .footer-left {
    @include flex(space-between, $align: flex-start);
    padding-bottom: 24px;
    gap: 50px;
  }
  .footer__title {
    @include text(28px, 34px, -0.56px, 500, normal);
    color: getColor('text-secondary');
    margin-bottom: 54px;
    &__span {
      color: getColor('text-third');
    }
  }
  .contact__subtitle {
    color: getColor('text-secondary');
  }
  .footer-social-list {
    @include flex($align: flex-start);
    gap: 18px;
  }
  .footer-social-svg {
    fill: getColor('text-secondary');
    width: 24px;
    height: 24px;
  }
  .footer-list {
    @include flex($justify: flex-start, $align: flex-start, $direction: row);
    gap: 24px;
  }
}
@media (min-width: 1200px) {
  .footer-top {
    gap: 63px;
  }
  .footer-list {
    @include flex($justify: flex-start, $align: flex-start, $direction: row);
    gap: 24px;
  }
}
