.header .inner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 14px;
}

.burgermenu{
    background-color: transparent;
    border: none;
    padding: 0;

    &__svg{
        width: 28px;
        height: 28px;
    }
}

.header-list{
    display: none;
}
.menu-right{
    display: none;
}


.logo{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    @include text (#111, 14px, italic, 700, 18px, -0.43px);
    &__svg{
        width: 21px;
        height: 21px;
        margin-left: 4px;
    }
    &__simply{
        @include text (#111, 14px, normal, 700, 18px, -0.43px);
    }
}

