.header .inner-container{
    @include flex ($justify: space-between);
    padding: 20px;
    margin-bottom: 14px;
}

.burgermenu{
    background-color: transparent;
    border: none;
    padding: 0;
    @media screen and (min-width: 1200px) {
        display: none;
    }

    &__svg{
        width: 28px;
        height: 28px;
    }
}

.header-list{
    display: none;
    @media screen and (min-width: 1200px) {
            display: flex;
            gap: 24px;
    }
}
.menu-right{
    display: none;
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}


.logo{
    @include flex ($justify: center);
    text-transform: uppercase;
        @include text ($fsize: 18px, $lheight: 20px, $lspacing: -0.54px, $fweight: 700, $fstyle: italic);
        color: getColor(text-primary);
    &__svg{
        width: 21px;
        height: 21px;
        margin-left: 4px;
    }
    &__simply{
        @include text ($fsize: 18px, $lheight: 20px, $lspacing: -0.54px, $fweight: 700);
        color: getColor(text-primary);
    }
}

.header-list__link{
    @include text ($fweight: 500, $lheight: 16px, $lspacing: -0.28px);
    color: getColor(text-primary);
}

.menu-right__svg{
    width: 24px;
    height: 24px;
    &:nth-child(1){
        margin-right: 18px;
    }
}