.made {
  gap: 20px;
}
.made-video {
  border-radius: 15px;
}
.made-video__svg {
  color: getColor('text-secondary');
  position: absolute;
left: 150px;
top: 233px;
}
.made-right {
  background-color: getColor('background-secondary');
  border-radius: 15px;
  padding: 20px 14px;
}
.made__title {
  color: getColor('text-primary');
  @extend %title;
  margin-bottom: 32px;
  &--orange {
    color: getColor('text-third');
  }
}

.made__subtitle {
  @include text(18px, 24px, normal, 600);
  color: getColor('text-primary');
  margin-bottom: 20px;
}
.made-list {
  @include flex($direction: column);
  gap: 18px;
  &__item {
    list-style-type: circle;
  }
  &__text {
    @include text($lheight: 18px);
    color: getColor('text-primary');
  }
}
