.backdrop-thanks {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  overflow: auto;
}
.modal-thanks {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 311px;
  max-height: 350px;
  height: 90vh;
  overflow: auto;
  padding: 84px 24px 178px 68px;
  border-radius: 15px;
  z-index: 100;
  background-color: getColor('text-third');
  &__btn {
    @include flex;
    position: absolute;
    top: 14px;
    right: 14px;
    background-color: #fcf1e0;
    width: 28px;
    height: 28px;
  }
  &__svg {
    width: 16px;
    height: 16px;
    fill: getColor('text-third');
  }
  &__title {
    @include text($lheight: 1.2, $lspacing: -0.4px);
    margin-bottom: 8px;
    color: #fcf1e0;
  }
  &__text {
    @include text($lheight: 1.14);
    color: getColor('background-secondary');
  }
  &__img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 296px;
    height: 399px;
    transform: rotate(-17deg);
  }
}
