.backdrop-review{
    @include flex;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: getColor("text-modal");
}

.reviews-modal{
    width: 311px;
    background-color: getColor("background-primary");
    border-radius: 15px;
    padding: 32px 24px;
    position: relative;

    @media screen and(min-width: 768px){
        width: 517px;
        padding: 40px;
    }

    &__title {
        color: getColor('text-third');
        @extend %title;
        margin-bottom: 32px;
        @media screen and(min-width: 768px){
            max-width: 288px;
        }
    }

    &__span {
        color: getColor('text-primary');
    }
}

.reviews-close{
    position: absolute;
    top: 14px;
    right: 14px;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;

    &__svg {
        width: 14px;
        height: 14px;
    }
}



.send-btn{
    padding: 12px 28px;
    border-radius: 100px;
    @include text($fweight: 600);
    color: getColor('background-secondary');
    margin-top: 18px;
}


.label-list__modal{
    position: relative;
    
}

.label-list__svg{
    position: absolute;
    top: 20px;
    left: 15px;
    width: 24px;
    height: 18px;
    @media screen and(min-width: 768px) {
        width: 32px;
        height: 24px;
    }
}

 .modal-list{
    @include flex($direction: column);
    gap: 14px;

    &__input{
        width: 263px;
        @include flex($align: flex-start);
        padding: 14px 18px;
        border-radius: 8px;
        border: 1.5px solid getColor('border-modal');
        box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
        @media screen and(min-width: 768px){
            width: 437px;
            padding: 22px 24px;
        }
        &--phone {
            padding-left: 55px;
            border-left: 1.5px solid rgba(17, 17, 17, 0.05);
        }

        &--text {
            width: 263px;
            padding: 14px 18px 60px 18px;
            resize: none;
            @media screen and(min-width: 768px) {
                    width: 437px;
                    padding: 22px 24px 93px 24px;
                }
        }
    }
 }