.reviews{
    margin: 72px 0;
    @include flex($direction: column);
}

.reviews__title{
    @include text(20px, 24px, -0,6px, 600);
    text-transform: uppercase;
    color: getColor('text-primary');
    text-align: center;
    margin-bottom: 74px;
    @media screen and (min-width: 768px) {
        @include text(24px, 24px, -0, 6px, 600);
    }
}

.reviews-card__img{
    position: absolute;
    top: -40px;
    left: 127px;
    border-radius: 80px;
    width: 80px;
    height: 80px;
}

.reviews-card{
    @include flex($direction: column);
    position: relative;
    text-align: center;
    padding: 56px 18px 42px;
    border-radius: 15px;
        border: 1px solid rgba(17, 17, 17, 0.10);
        background: #FFF;
        box-shadow: 0px 9.049px 26.572px 0px rgba(215, 228, 249, 0.25);
    @media screen and (min-width: 768px) {
            width: 344px;
            height: 200px;
        }
}

.reviews__btn{
    @include text($fweight: 600);
    padding: 12px 28px;
    border-radius: 100px;
    background-color: transparent;
    border: 1px solid getColor('text-third');
    margin: 0 auto;
}

.reviews-card__title{
    @include text(18px, 24px, $fweight: 600);
    margin-bottom: 24px;
}

.reviews-card__info{
    width: 299px;
    @include text;
    color: getColor("text-fourth");
}

.reviews__span{
    color: getColor("text-third");
}

.reviews-card--nazar{
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.reviews-card--olena {
    display: none;
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}


.reviews-list{
    @include flex(flex-start);
    gap: 13px;
    @media screen and (min-width: 1200px) {
        @include flex(center);
    }
}

.reviews-slider{
    @include flex;
    gap: 13px;
    margin: 20px 0 32px;
    @media screen and (min-width: 768px) {
        margin: 32px 0 50px;
    }
}

.reviews-slider__rectangle{
    width: 28px;
    height: 13px; 
    fill: getColor("text-third");
}

.reviews-slider__ellipse{
    width: 13px;
    height: 13px;
    fill: getColor("border-modal");
}