.sellers__title {
  @extend %title;
  color: getColor('text-primary');
  margin-bottom: 32px;
  &--orange {
    color: getColor('text-third');
  }
}
.sellers-list {
  @include flex($direction: column);
  &__text {
    @include text($lheight: 18px);
    margin: 20px 0 32px;
  }
  &__img {
    width: 335px;
    height: 464px;
    &:nth-child(3) {
      display: none;
    }
  }
}
.sellers__button {
  @include text($fweight: 600);
  color: getColor('text-secondary');
  padding: 28px 12px;
  margin-top: 32px;
}
